{{#section 'head'}}
	<link rel="stylesheet" href="/dist/css/activities/mobile.css">

{{/section}}
<section class="wrapper">
	<ul class="slider">
		<li><img src="http://placehold.it/320x150"/></li>
		<li><img src="http://placehold.it/320x150"/></li>
		<li><img src="http://placehold.it/320x150"/></li>
	</ul>
	<ol class="dots">

	</ol>
</section>
<section class="wrapper">
	<dl class="u-container-lists u-container">
		<dt class="c-title">十月</dt>
		<dd>
			<a href="" class="c-text">
				<span class="c-text-name">白领时尚荧光夜跑</span>
				<span class="c-text-position">10月10日 世纪公园 20点开跑</span>
			</a>
			<a href="" class="c-iconimg">
				<img class="" src="http://placehold.it/50x50"  />
			</a>
			<div class="c-thin-balck-line"></div>
		</dd>
		<dd>
			<a href="" class="c-text">
				<span class="c-text-name">白领时尚荧光夜跑2</span>
				<span class="c-text-position">10月10日 世纪公园 20点开跑</span>
			</a>
			<a href="" class="c-iconimg">
				<img class="" src="http://placehold.it/50x50"  />
			</a>
			<div class="c-thin-balck-line"></div>
		</dd>
	</dl>
	<dl class="u-container-lists u-container">
		<dt class="c-title">十一月</dt>
		<dd>
			<a href="" class="c-text">
				<span class="c-text-name">白领时尚荧光夜跑</span>
				<span class="c-text-position">10月10日 世纪公园 20点开跑</span>
			</a>
			<a href="" class="c-iconimg">
				<img class="" src="http://placehold.it/50x50"  />
			</a>
			<div class="c-thin-balck-line"></div>
		</dd>
		<dd>
			<a href="" class="c-text">
				<span class="c-text-name">白领时尚荧光夜跑2</span>
				<span class="c-text-position">10月10日 世纪公园 20点开跑</span>
			</a>
			<a href="" class="c-iconimg">
				<img class="" src="http://placehold.it/50x50"  />
			</a>
			<div class="c-thin-balck-line"></div>
		</dd>
	</dl>
</section>
{{#section 'script'}}
	<script src="/dist/lib/motion.js"></script>
	<script src="/dist/js/common.js"></script>
	<script>
		$(function(){
			var YD = new YdUiKit();
			YD.slider();
		});
	</script>
{{/section}}